
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>Sky Team</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="/">Bản thân</a></li>
            <li><a href="/Nhom/index">Thành viên nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
                <th>STT</th>
                <th>Mã số sinh viên</th>
                <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr >
                    <td>01</td>
                    <td>1822041439</td>
                    <td>Phùng Khánh Duy</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>1822041437</td>
                    <td>Lê Thị Quỳnh Như</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; - @DateTime.Now.Year</p>
</footer>

