@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>Sky Team</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="/">Bản thân</a></li>
            <li><a href="/Nhom/index">Thành viên nhóm</a></li>
        </ul>
    </nav>

    <article>
         <h2>Phùng Khánh Duy</h2>
    </article>
</section>

<footer>
    <p>Copyright &copy; - @DateTime.Now.Year</p>
</footer>
