@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <h2 style="color: pink">Học bảng cửu chương nha.</h2>
    <hr />
    <hr />
    <ul>
        @for (int i = 2; i <= 9; i++)
        {
            <p>bảng cửu chương @i:</p>
            <ul>
            @for (int j = 2; j <= 9; j++)
                {
                    <li>@i x @j = @(i * j)</li>
                }
            </ul>
        }
    </ul>
    <hr />
</div>